In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
df = pd.read_csv('Churn_Modelling.csv')
df.sample(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9536,9537,15632051,Douglas,550,Germany,Female,42,10,128707.31,1,1,0,63092.65,1
8817,8818,15570485,Udegbunam,558,Spain,Male,40,4,161766.87,1,0,0,92378.54,0
8248,8249,15778049,Wyatt,633,Germany,Male,29,6,117412.35,1,0,0,30338.94,0
5153,5154,15692259,Baresi,695,France,Female,29,9,0.00,2,1,0,111565.45,0
1159,1160,15690664,Liang,729,Spain,Male,37,10,0.00,2,1,0,100862.54,0

In [31]:
df1 = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis = 1)
df1.sample(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
3703,739,Germany,Male,40,5,149131.03,3,1,1,60036.99,1
3907,603,Germany,Male,46,4,98899.76,2,1,1,86190.34,0
346,630,Germany,Female,34,9,106937.05,2,1,0,138275.01,0
5956,798,Germany,Female,38,4,129055.13,1,1,0,157147.59,0
4551,651,Spain,Female,46,4,89743.05,1,1,0,156425.57,1

In [32]:
def col_val(df):
    for col in df:
        print(f'{col}: {df[col].unique()}')
col_val(df1)

CreditScore: [619 608 502 699 850 645 822 376 501 684 528 497 476 549 635 616 653 587
 726 732 636 510 669 846 577 756 571 574 411 591 533 553 520 722 475 490
 804 582 472 465 556 834 660 776 829 637 550 698 585 788 655 601 656 725
 511 614 742 687 555 603 751 581 735 661 675 738 813 657 604 519 664 678
 757 416 665 777 543 506 493 652 750 729 646 647 808 524 769 730 515 773
 814 710 413 623 670 622 785 605 479 685 538 562 721 628 668 828 674 625
 432 770 758 795 686 789 589 461 584 579 663 682 793 691 485 650 754 535
 716 539 706 586 631 717 800 683 704 615 667 484 480 578 512 606 597 778
 514 525 715 580 807 521 759 516 711 618 643 671 689 620 676 572 695 592
 567 694 547 594 673 610 767 763 712 703 662 659 523 772 545 634 739 771
 681 544 696 766 727 693 557 531 498 651 791 733 811 707 714 782 775 799
 602 744 588 747 583 627 731 629 438 642 806 474 559 429 680 749 734 644
 626 649 805 718 840 630 654 762 568 613 522 737 648 443 640 540 460 593
 801 611 802 745 483 690 492 709 705 560 752 701 537 487 596 702 486 724
 548 464 790 534 748 494 590 468 509 818 816 536 753 774 621 569 658 798
 641 542 692 639 765 570 638 599 632 779 527 564 833 504 842 508 417 598
 741 607 761 848 546 439 755 760 526 713 700 666 566 495 688 612 477 427
 839 819 720 459 503 624 529 563 482 796 445 746 786 554 672 787 499 844
 450 815 838 803 736 633 600 679 517 792 743 488 421 841 708 507 505 456
 435 561 518 565 728 784 552 609 764 697 723 551 444 719 496 541 830 812
 677 420 595 617 809 500 826 434 513 478 797 363 399 463 780 452 575 837
 794 824 428 823 781 849 489 431 457 768 831 359 820 573 576 558 817 449
 440 415 821 530 350 446 425 740 481 783 358 845 451 458 469 423 404 836
 473 835 466 491 351 827 843 365 532 414 453 471 401 810 832 470 447 422
 825 430 436 426 408 847 418 437 410 454 407 455 462 386 405 383 395 467
 433 442 424 448 441 367 412 382 373 419]
Geography: ['France' 'Spain' 'Germany']
Gender: ['Female' 'Male']
Age: [42 41 39 43 44 50 29 27 31 24 34 25 35 45 58 32 38 46 36 33 40 51 61 49
 37 19 66 56 26 21 55 75 22 30 28 65 48 52 57 73 47 54 72 20 67 79 62 53
 80 59 68 23 60 70 63 64 18 82 69 74 71 76 77 88 85 84 78 81 92 83]
Tenure: [ 2  1  8  7  4  6  3 10  5  9  0]
Balance: [     0.    83807.86 159660.8  ...  57369.61  75075.31 130142.79]
NumOfProducts: [1 3 2 4]
HasCrCard: [1 0]
IsActiveMember: [1 0]
EstimatedSalary: [101348.88 112542.58 113931.57 ...  42085.58  92888.52  38190.78]
Exited: [1 0]

In [33]:
df1['Gender'] = df1['Gender'].replace({'Female': 0, 'Male': 1})
df2 = pd.get_dummies(data = df1, columns = ['Geography']).astype(float)
df2.sample(5)

C:\Users\MSI\AppData\Local\Temp\ipykernel_4220\2820269034.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1['Gender'] = df1['Gender'].replace({'Female': 0, 'Male': 1})

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
8981,673.0,0.0,35.0,6.0,0.00,2.0,1.0,0.0,98618.79,0.0,0.0,0.0,1.0
8704,784.0,0.0,42.0,2.0,109052.04,2.0,1.0,0.0,6409.55,0.0,0.0,0.0,1.0
3636,663.0,1.0,31.0,4.0,103430.11,2.0,0.0,1.0,36479.27,0.0,0.0,0.0,1.0
514,605.0,0.0,51.0,3.0,136188.78,1.0,1.0,1.0,67110.59,1.0,1.0,0.0,0.0
3778,579.0,0.0,59.0,3.0,148021.12,1.0,1.0,1.0,74878.22,0.0,0.0,0.0,1.0

In [34]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
cols=['CreditScore', 'Age', 'Tenure','Balance', 'NumOfProducts', 'EstimatedSalary']
df2[cols] = scaler.fit_transform(df2[cols])
df2.dtypes

CreditScore          float64
Gender               float64
Age                  float64
Tenure               float64
Balance              float64
NumOfProducts        float64
HasCrCard            float64
IsActiveMember       float64
EstimatedSalary      float64
Exited               float64
Geography_France     float64
Geography_Germany    float64
Geography_Spain      float64
dtype: object

In [35]:
X = df2.drop('Exited', axis = 1)
y = df2['Exited']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 5)
X_train.shape

(8000, 12)

In [40]:
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import classification_report 

def deep(X_train, X_test, y_train, y_test):
    model = keras.Sequential([
        keras.layers.Dense(10, input_dim = 12, activation = 'relu'),
        keras.layers.Dense(1, activation = 'sigmoid')
    ])
    model.compile(
        loss = 'binary_crossentropy',
        optimizer = 'adam',
        metrics = ['accuracy']
    )
    model.fit(X_train, y_train, epochs = 20)

    print(model.evaluate(X_test, y_test))

    y_preds = model.predict(X_test)
    y_preds = np.round(y_preds)

    print('Classification report: ', classification_report(y_test, y_preds))

    return y_preds

y_preds = deep(X_train, X_test, y_train, y_test)

Epoch 1/20

D:\Anaconda__\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.4839 - loss: 0.7311
Epoch 2/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7937 - loss: 0.4985
Epoch 3/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8014 - loss: 0.4697
Epoch 4/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7981 - loss: 0.4708
Epoch 5/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7931 - loss: 0.4723
Epoch 6/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8111 - loss: 0.4424
Epoch 7/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7993 - loss: 0.4531
Epoch 8/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8154 - loss: 0.4359
Epoch 9/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8082 - loss: 0.4359
Epoch 10/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8171 - loss: 0.4210
Epoch 11/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8238 - loss: 0.4160
Epoch 12/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8176 - loss: 0.4168
Epoch 13/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8304 - loss: 0.4024
Epoch 14/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8264 - loss: 0.3982
Epoch 15/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8296 - loss: 0.4011
Epoch 16/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8217 - loss: 0.3972
Epoch 17/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8266 - loss: 0.3960
Epoch 18/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8390 - loss: 0.3869
Epoch 19/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8380 - loss: 0.3796
Epoch 20/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8351 - loss: 0.3770
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8301 - loss: 0.3840
[0.3849026560783386, 0.8309999704360962]
63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
Classification report:                precision    recall  f1-score   support

         0.0       0.85      0.96      0.90      1595
         1.0       0.67      0.32      0.43       405

    accuracy                           0.83      2000
   macro avg       0.76      0.64      0.67      2000
weighted avg       0.81      0.83      0.81      2000

In [42]:
df2['Exited'].value_counts()

Exited
0.0    7963
1.0    2037
Name: count, dtype: int64

In [44]:
count_0, count_1 = df2['Exited'].value_counts()

df_ex_1 = df2[df2['Exited'] == 1]
df_ex_0 = df2[df['Exited'] == 0]

df_ex0_under = df_ex_0.sample(count_1)

df_under = pd.concat([df_ex0_under, df_ex_1], axis = 0)
df_under['Exited'].value_counts()

Exited
0.0    2037
1.0    2037
Name: count, dtype: int64

In [48]:
X = df_under.drop('Exited', axis = 1)
y = df_under['Exited']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 5)

y_preds = deep(X_train, X_test, y_train, y_test)

Epoch 1/20

D:\Anaconda__\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

102/102 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.5337 - loss: 0.6938
Epoch 2/20
102/102 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6188 - loss: 0.6645
Epoch 3/20
102/102 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6340 - loss: 0.6441
Epoch 4/20
102/102 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6425 - loss: 0.6325
Epoch 5/20
102/102 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6571 - loss: 0.6226
Epoch 6/20
102/102 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6408 - loss: 0.6249
Epoch 7/20
102/102 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6649 - loss: 0.6173
Epoch 8/20
102/102 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6548 - loss: 0.6141
Epoch 9/20
102/102 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6536 - loss: 0.6076
Epoch 10/20
102/102 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6542 - loss: 0.6142
Epoch 11/20
102/102 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6725 - loss: 0.6043
Epoch 12/20
102/102 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6724 - loss: 0.6043
Epoch 13/20
102/102 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6939 - loss: 0.5950
Epoch 14/20
102/102 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6760 - loss: 0.6010
Epoch 15/20
102/102 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6849 - loss: 0.5986
Epoch 16/20
102/102 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6976 - loss: 0.5849
Epoch 17/20
102/102 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7010 - loss: 0.5799
Epoch 18/20
102/102 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7115 - loss: 0.5742
Epoch 19/20
102/102 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6858 - loss: 0.5915
Epoch 20/20
102/102 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7043 - loss: 0.5764
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6907 - loss: 0.5877
[0.5746568441390991, 0.7042945027351379]
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
Classification report:                precision    recall  f1-score   support

         0.0       0.70      0.70      0.70       400
         1.0       0.71      0.71      0.71       415

    accuracy                           0.70       815
   macro avg       0.70      0.70      0.70       815
weighted avg       0.70      0.70      0.70       815

In [52]:
df_ex1_over = df_ex_1.sample(count_0, replace = True)
df_over = pd.concat([df_ex1_over, df_ex_0], axis = 0)
df_over.Exited.value_counts()

Exited
1.0    7963
0.0    7963
Name: count, dtype: int64

In [54]:
X = df_over.drop('Exited', axis = 1)
y = df_over['Exited']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 5)
y_preds = deep(X_train, X_test, y_train, y_test)

Epoch 1/20

D:\Anaconda__\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

399/399 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.5479 - loss: 0.6962
Epoch 2/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6516 - loss: 0.6304
Epoch 3/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6768 - loss: 0.6081
Epoch 4/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6863 - loss: 0.5970
Epoch 5/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7040 - loss: 0.5779
Epoch 6/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7072 - loss: 0.5721
Epoch 7/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7115 - loss: 0.5632
Epoch 8/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7205 - loss: 0.5542
Epoch 9/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7291 - loss: 0.5393
Epoch 10/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7400 - loss: 0.5283
Epoch 11/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7469 - loss: 0.5198
Epoch 12/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7474 - loss: 0.5141
Epoch 13/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7468 - loss: 0.5157
Epoch 14/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7593 - loss: 0.4986
Epoch 15/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7578 - loss: 0.4986
Epoch 16/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7619 - loss: 0.4878
Epoch 17/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7597 - loss: 0.4926
Epoch 18/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7568 - loss: 0.4944
Epoch 19/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7627 - loss: 0.4859
Epoch 20/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7639 - loss: 0.4770
100/100 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7805 - loss: 0.4588
[0.4736318290233612, 0.7686754465103149]
100/100 ━━━━━━━━━━━━━━━━━━━━ 0s 921us/step
Classification report:                precision    recall  f1-score   support

         0.0       0.74      0.82      0.78      1586
         1.0       0.80      0.72      0.76      1600

    accuracy                           0.77      3186
   macro avg       0.77      0.77      0.77      3186
weighted avg       0.77      0.77      0.77      3186

In [58]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(sampling_strategy = 'minority')
X = df2.drop('Exited', axis = 1)
y = df2['Exited']

X_sm, y_sm = smote.fit_resample(X, y)
y_sm.value_counts()

Exited
1.0    7963
0.0    7963
Name: count, dtype: int64

In [62]:
X_train, X_test, y_train, y_test = train_test_split(X_sm, y_sm, test_size = 0.2, random_state = 5)

y_preds = deep(X_train, X_test, y_train, y_test)

Epoch 1/20

D:\Anaconda__\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

399/399 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.5534 - loss: 0.6948
Epoch 2/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6494 - loss: 0.6322
Epoch 3/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6758 - loss: 0.6089
Epoch 4/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6966 - loss: 0.5884
Epoch 5/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6951 - loss: 0.5812
Epoch 6/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7100 - loss: 0.5670
Epoch 7/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7190 - loss: 0.5604
Epoch 8/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7256 - loss: 0.5494
Epoch 9/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7402 - loss: 0.5322
Epoch 10/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7386 - loss: 0.5383
Epoch 11/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7460 - loss: 0.5231
Epoch 12/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7445 - loss: 0.5244
Epoch 13/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7518 - loss: 0.5166
Epoch 14/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7590 - loss: 0.5043
Epoch 15/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7516 - loss: 0.5124
Epoch 16/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7546 - loss: 0.5039
Epoch 17/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7601 - loss: 0.5019
Epoch 18/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7614 - loss: 0.4981
Epoch 19/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7613 - loss: 0.5005
Epoch 20/20
399/399 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7681 - loss: 0.4840
100/100 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7726 - loss: 0.4881
[0.49393993616104126, 0.7661644816398621]
100/100 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
Classification report:                precision    recall  f1-score   support

         0.0       0.77      0.75      0.76      1591
         1.0       0.76      0.78      0.77      1595

    accuracy                           0.77      3186
   macro avg       0.77      0.77      0.77      3186
weighted avg       0.77      0.77      0.77      3186